.details {
    &__wrapper {
        width: 430px;
        min-height: 430px;
        background-color: rgba(99, 148, 117, .7);
        border-radius: 12px;
        padding: 20px;
        position: relative;
        color: black;
        font-size: 20px;
    }
}

.info {
    display: flex;
    flex-direction: column;

    strong {
        text-transform: capitalize;
    }
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-weight: bolder;
    cursor: pointer;
    color: white;
}