header {
  display: flex;
  background-color: rgba(173, 129, 115, 1);
  justify-content: space-between;
  width: 70%;
  align-self: end;
  margin-left: auto;
  border-radius: 12px;
  margin-top: 30px;
}
