.search {
  &__wrapper {
    display: flex;
    gap: 30px;
    height: 80px;
    align-items: center;
    padding: 0 60px;

    &-text {
      font-weight: 700;
      font-size: 20px;
    }
  }

  &__btn {
    background-color: gray;
    color: white;
  }

  &__input {
    width: 200px;
    height: 33px;
  }
}
